---
import { siteConfig } from "@/config/site";
interface Props {
  title: string;
  description?: string;
  image?: string;
  type?: string;
}

const {
  title,
  description = siteConfig.description,
  image = "/logo.png",
  type = "website",
} = Astro.props;

const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site || siteConfig.url
);
---

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, canonicalURL)} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, canonicalURL)} />

<meta name="robots" content="index, follow" />
<meta name="theme-color" content="#FF6602" />
